<div class="container-fluid text-center mt-4">
    <p class="fw-medium">
        You do not have permission to access this resource. Please make sure you are authorized to view this page or perform the requested action. If you believe you should have access, please contact the system administrator for assistance.
    </p>

    <img src="~/img/AccessDenied.jpg" alt="access-denied" height="600" width="800"/>
</div>